*{
    margin: 0;
    padding: 0;

}

.text_top{
    width: 440px;
    height: 17px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;

    &::before{
        background-image: url(../img/chevron.svg) no-repeat left center/cover;
        width: 15px;
        height: 15px;
        color: #fff;
    }
}

.container{
    max-width: 1060px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.main{
    height: 800px;
    background-image: url(../img/duotone.svg);
    background-position: center;
    background-size: cover;
    z-index: 1;

}


.about{
    &__wrap{
        height: 780px;
        background-color: #5F6285;
        border-radius: 40px;
        margin-top: -80px;
        position: relative;
        z-index: -2;
    }
    
    &__dots{
        position: absolute;
        top: -118px;
        right: -70px;
    }

    &__dog{
        border-radius: 48px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -120px;
    }

    &__blob{
        position: absolute;
        bottom: -160px;
        z-index: -1;
    }

    &__box{
        padding: 100px 0px 0px 120px;
    }

    &__textblock{
        width: 585px;
        height: 135px;
        font-size: 36px;
    }

    &__text_top{
        color: #fff;
    }

    &__text_title{
        margin-top: 33px;
        color: #fff;
        font-size: 36px;
        font-weight: 900;
    }

    &__textblock2{
        margin-top: 36px;
        margin-left: 120px;
    }

    &__text_text{
        color: #fff;
        font-size: 16px;
        font-weight: 400;
    }

    &__block{
        margin: 230px 210px 0px 210px;

        &_top{
            color: #5D62B5;
        }

        &_tittle{
            font-size: 36px;
            font-weight: 900;
            color: #000;
            margin-top: 33px;
        }
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        &_elem{
            display: flex;
            justify-content: space-between;
        }
    }

    
}
.sec{
    &_text{
    position: relative;
    top: 60px;
    left: 90px;
    margin: auto;
    }
    &_text_2{
        position: relative;
        top: 90px;
    }
}